<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/MarieMT">Marie</a>.

</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'mariemt.jpg', class: 'img-responsive'%>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Marie</h2>
    <br />
    <p>
        Marie is a technical project manager  and web developer with experience across digital technology, product design and web development.
        </p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />